pytest
uiautomator2
telnetlib3
selenium
PyYAML
matplotlib
pandas
openpyxl
pytest-repeat
pytest-html
pytest-rerunfailures
psutil
pyserial
PyQt5
PyMySQL
PyQt-Fluent-Widgets
cryptography
PyUserInput
pysnmp
roku
pytest-dependency
scapy
ldap3
pycryptodome
